<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- HTML 주석입니다.    -->
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @font-face {
            font-family: 'TheTuesdayofYounah';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/TheTuesdayofYounah.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body style="background-color : black; font-family: 'TheTuesdayofYounah'; ">
    <h1 style="background-color : white;"> 파트2 열심히하자!</h1>

    <script>
        alert("Hello, sdw!");
    </script>
</body>
</html>